fastapi
uvicorn
sse-starlette
pydantic
langgraph
langchain
langchain-openai
langchain-core
python-dotenv
redis
sqlalchemy
psycopg2-binary
pgvector
langgraph-checkpoint-postgres
langchain-postgres
langchain-community
python-multipart
PyPDF2
beautifulsoup4
requests
pandas

openpyxl>=3.1
